@import './menu';
@import './chatrooms';
@import './users';
@import './footer';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-el{
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 141px - 108px);


  .nickname{
    width: 50%;
    float: left;
    padding-top: 277px;

    &__input{
      border: none;
      border-radius: 25px;
      background-color: #3C3C3C;
      color: #fff;
      height: 34px;
      padding: 24px;
      width: 371px;
    }

    &__flex-box{
      display: flex;
    }

    &__button{
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      margin-left: -50px;
      cursor: pointer;
    }
  }
  .change{
    width: 49%;  
    float: left;
    padding-top: 206px;

    .information{
        font-family: Arial, sans-serif;
        color: #606060;
        font-size: 33px;
      }
  }

  .message_failed{
    padding: 10px;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    color: #FF6464;
  }
}

body{
  background-color: #E3E3E3;
}

@media screen and (max-width: 1200px){
  .container-el{
    padding-top: 0px;

      .change{
      float: none;
      margin: 0 auto;
      padding-top: 0;

      .information{
        font-size: 20px;
      }
    }

    .nickname{
      float: none !important;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 77px;
    }
  }

  body{
    background-color: #292929
  }
}